/* header and logo */
#header_menu{
    text-decoration: none;
}

.nav-item {
    display: inline;
    /* position: relative; left: 335px; top: auto; */
    margin: 7px;
    padding: 10px;
    text-decoration: none;
    
}


li a{
    text-decoration: none;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-weight: lighter;
}

a.nav-item:hover {
    background-color: rgba(255, 238, 0, 0.212);
    text-decoration: double;
    cursor: pointer;
    font-size: 22px;
    border-radius: 4px;
    
}

body{
background-color: rgb(0, 0, 0); 
}

header{
background-color: rgba(146, 82, 63, 0.753);
border-radius: 8px;
border-bottom-left-radius: 4px;
border-bottom-right-radius: 4px;
}
/* ######################################################################## */
/* the login form */
body  
{  
    margin: 0;  
    padding: 0;  
    font-family: 'Arial';  
}  
.login{  
        width: 500px;  
        overflow: hidden;  
        margin: auto;  
        margin: 20 0 0 450px;  
        padding: 80px;   
        border-radius: 15px ;  
        background-color: rgba(146, 82, 63, 0.753);
        margin-top:90px ;

}  
h2{  
    text-align: center;  
    color: #277582;  
    padding: 20px;  
}  
label{  
    color: white;  
    font-size: 17px;  
    position: relative; left: 99px;
    padding: auto;
}  
#Uname{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
    position: relative; left: 19px;
}  
#Pass{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
      position: relative; left: 19px;
}  
#log{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 7px;  
    color:rgba(146, 82, 63, 0.753);  
    font-size: 17px;  
    position: relative; left: 19px;
    /* transition: 4ms; */
}  

span{  
    color: white;  
    font-size: 17px;  
}  
a{  
    float: right;  
    background-color: grey;  
}  

#log :hover {
    background-color: rgba(146, 82, 63, 0.753)50%;;  
    
}

/* Home page section */
/* Add a black background color to the top navigation */
.topnav {
  background-color: rgba(146, 82, 63, 0.753);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

/* search bar */
/* Add a black background color to the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
  background-color: #2196F3;
  color: white;
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  
}

.desc {
  max-lines: 1;
  
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

body{
  background-color: #f2f2f2;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #333;
  line-height: 1.6;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/* card css */
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(252, 252, 252, 0.74);
  transition: 0.3s;

}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

.poster{
  display: inline inline-block;
}

.poster {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; 
  margin: 20px;/* 5px rounded corners */
}

.tiles {
  /* display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 10px;
  grid-template-rows: repeat(auto-fill, minmax(300px, 1fr)); */

  display: flex;
  flex-direction: row;
}

/* Add rounded corners to the top left and the top right corner of the image */
img {
  border-radius: 5px 5px 0 0;
}