/* header and logo */
#header_menu{
    text-decoration: none;
}

.nav-item {
    display: inline;
    /* position: relative; left: 335px; top: auto; */
    margin: 7px;
    padding: 10px;
    text-decoration: none;
    
}

li a{
    text-decoration: none;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-weight: lighter;
}

a.nav-item:hover {
    background-color: rgba(255, 238, 0, 0.212);
    text-decoration: double;
    cursor: pointer;
    font-size: 22px;
    border-radius: 4px;
    
}

body{
background-color: rgb(0, 0, 0); 
}

header{
background-color: rgba(146, 82, 63, 0.753);
border-radius: 8px;
border-bottom-left-radius: 4px;
border-bottom-right-radius: 4px;
}

